
         <ul class="nav nav-tabs" >
            <li class=""><a href="#/" data-toggle="tab">Profile</a></li>
            <li class=""><a href="#/basic-settings" data-toggle="tab">Basic Settings</a></li>
			<li class="active"><a href="#/change-password" data-toggle="tab">Change Password</a></li>
         </ul>
         <div class="tab-content  tab-content-data">
		 
		    <div id="/change-password" class="tab-pane fade in active" >
                                          <div class="panel  ">
                                             <div class="panel-body user-info">
											 <br>
                                                <div class="row category-add" >
                                                   <div class="col-sm-7" >
                                                      <md-input-container  class="md-block text-left"  >
                                                         <label>Old Password</label>
                                                         <input type="password" id="old_password" name="old_password"  ng-model="old_password" value="" />
                                                      </md-input-container>
													  
													  <md-input-container  class="md-block text-left"  >
                                                         <label>New Password</label>
                                                         <input type="password" id="new_password" name="new_password"  ng-model="new_password" value="" />
                                                      </md-input-container>
													  
													  <md-input-container  class="md-block text-left"  >
                                                         <label>Confirm New Password</label>
                                                         <input type="password" id="confirm_new_password" name="confirm_new_password"  ng-model="confirm_new_password" value="" />
                                                      </md-input-container>
                                                     </div>
												   <div class="col-lg-5 submit text-right">
												   <br><br>
                                                   <button   ng-click="changePassword()" class="btn md-raised bg-color md-submit md-button md-ink-ripple">Change Password</button>
                                                </div>
                                                
                                             </div>
                                          </div>
            
         </div>
		 
      </div>
   </div> 