<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12" >
         <ul class="nav nav-tabs" >
            <li  ><a href="#/" data-toggle="tab"   >Basic Detail</a></li>
            <li  class="active"   ><a href="#/order" data-toggle="tab"   >Orders</a></li>
            <li  class="" ><a href="#/address" data-toggle="tab"   >Address</a></li>
         </ul>
         <div class="tab-content  tab-content-data">
            <div id="/order" class="tab-pane fade in active">
               <div class="panel">
			    
                  <h4  > Orders </h4>
                  <table class="table">
                     <tr>
                        <th>Id</th>
                        <th>Status</th>
                        <th>Total</th>
                        <th>Created</th>
                     </tr>
                     <tr ng-repeat="data in ordersData.data.data">
                        <td class="id"><a href="v1/order_detail_page/{{data.order_id}}">#{{data.order_id}} </a></td>
                        <td><span style="background:{{data.status_details[0].label_colors}};border-radius:20px;padding:2px 8px 4PX;">{{data.order_status}}</span></td>
                        <td> <?php echo env('CURRENCY_SYMBOL','');?>{{data.total}}</td>
                        <td>{{data.created_at_formatted}}</td>
                     </tr>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>