<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12" >
         <ul class="nav nav-tabs" >
            <li  ><a href="#/" data-toggle="tab"   >Basic Detail</a></li>
            <li  class="active"   ><a href="#/tasks" data-toggle="tab"   >Tasks</a></li> 
         </ul>
         <div class="tab-content  tab-content-data">
            <div id="/tasks"  class="tab-pane fade in active">
               <div class="panel">
                  <h4  > Tasks </h4>
                  <table class="table">
                     <tr>
                        <th>Id</th>
                        <th>OrderId</th>
                        <th>Pickup Contact</th>
                        <th>DropOff Contact</th>
						 <th>Status</th>
                     </tr>
                     <tr ng-repeat="data in taskData.data.data">
                        <td class="id">#{{data.task_id}} </a></td>
                        <td><a href="../order_detail/{{data.order_id}}">#{{data.order_id}}</a></td>
                        <td>{{data.pickup_contact_title}}</td>
                        <td>{{data.dropoff_contact_title}}</td>
						 <td>{{data.status}}</td>
                     </tr>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>