
<div class="row" >
   <div class="col-sm-8"  >
      <ul class="nav nav-tabs" >
         <li class=""><a href="#/" data-toggle="tab" >Regular</a></li>
         <li class="active"><a href="#/catering" data-toggle="tab" >Catering</a></li>
      </ul>
	  </div>
	   <div class="col-sm-4"  >
	  </div>
	   <div class="col-sm-12"  >
      <div class="tab-content  tab-content-data" >
         <div id="/catering" class="tab-pane fade in active"  >
             
               <ul class="nav nav-tabs" >
				  <li ng-class="{active: $index == selected}"style="width:100%;" >
						 <div class="col-sm-4 col-md-3 col-lg-2 header-tab"   style="background:{{tab.color}}" ng-repeat="tab in ctrl.orders.count_data"> 
						    <button  class="btn" ng-click="ctrl.getOrdersByStatus(tab.identifier)"   style="width:100%;outline:none;background:transparent;color:white;text-align: left;padding: 0px 12px 8px;"  >
							  <h3 ><?php echo env('CURRENCY_SYMBOL') ?> {{tab.total_orders_amount}} </h3>
							  <p>{{tab.count}} {{tab.title}} Orders</p>
						   </button>
						   </div> 
						  
						 </li>
                    </ul> 
						 
						 
            <div class="panel">
               <div class="panel-body user-info">
                  <div id="tableToExport" class="products-table table-responsive"  >
                                          <table class="table" class="table table-striped" id="exportthis" >
                                             <thead>
                                                <tr> 
                                                   <th>ID</th>
                                                   <th>CUSTOMER NAME</th>
												   <th>STORE NAME</th>
												    <th>TYPE</th>
                                                   <th>TOTAL</th>
                                                   <th>ORDER STATUS</th>
                                                   <th>CREATED</th>
                                                  <!-- <th>ACTIONS</th>-->
                                                </tr>
                                             </thead>
                                             <tbody >
                                                <tr  ng-repeat="values in ctrl.orders.data.data  "> 
                                                   <td><a href="order_detail/{{values.order_id}}" ><b>#{{values.order_id}}</b></a> </td>
                                                   <td>{{values.customer_details[0].first_name}} {{values.customer_details[0].last_name}}</td>
												    <td>{{values.store_details[0].store_title}}  </td>
												    <td >{{values.type}}</td>
                                                   <td ><?php echo env('CURRENCY_SYMBOL','');?>{{values.total}}</td>
                                                    
                                                   <td><span style="background-color:{{values.status_details[0].label_colors}};padding:2px 10px;border-radius:20px;">{{values.order_status}}</span></td>
                                                   <td>{{values.created_at_formatted}}</td>
                                                   <!--<td class="actions">
                                                      <a class="btn btn-xs edit-product" href="{{ URL::to('v1/form/item')}}/@{{values.item_id}}" ><i class="fa fa-edit"></i></a>
                                                      <a class="btn btn-xs delete-product" ng-click="ctrl.removeChoice(values.item_id, $index)"><i class="fa fa-trash-o"></i></a>
                                                      <!--  <a class="btn btn-xs edit-product" href="{{ URL::to('product_edit')}}/@{{values.id}}" ><img src="{{url::to('admin/images/edit.png')}} " style="height:16px;width:16px"/></a>
                                                         <a class="btn btn-xs delete-product" ng-click="ctrl.removeChoice(values.id, $index)"><img src="{{url::to('admin/images/bin.png')}} " style="height:16px;width:13px"/></a>--
                                                   </td>-->
                                                </tr>
                                             </tbody>
                                          </table>
                                       </div>  
									   <div class="pagination text-right" style="display:block" >
                                           <button class="btn" ng-show="ctrl.orders.data.first_page_url != null" ng-click="ctrl.pagination(ctrl.orders.data.first_page_url);">First</button> 
                                           <button class="btn"  ng-show="ctrl.orders.data.prev_page_url != null" ng-click="ctrl.pagination(ctrl.orders.data.prev_page_url);">Previous</button> 
                                          <span>{{ctrl.orders.data.current_page}}</span>
                                          <button class="btn"  ng-show="ctrl.orders.data.next_page_url != null" ng-click="ctrl.pagination(ctrl.orders.data.next_page_url);">Next</button> 
                                          <button class="btn"  ng-show="ctrl.orders.data.last_page_url != null" ng-click="ctrl.pagination(ctrl.orders.data.last_page_url);">Last</button> 
                                       </div>
									   
                                       
               </div>
            </div>
         </div>
      </div>
   </div>
</div>