html,body{font-family:'Open Sans',sans-serif;} 
h1,h2,h3,h4,h5,h6,p,span, ul li{font-family:'Open Sans',sans-serif;}
table>thead>tr>th , table>tbody>tr>td{font-family:'Open Sans',sans-serif;}

table>thead>tr>th{text-align:center;}
section{padding:30px 0 20px;}
	p{font-size:16px;}
.md-button.bg-color{background-color:#c33332!important;color:#fff!important;border-radius:0px;}
.md-button.bg-color:hover{color:#fff}
.form-group .form-control{border-radius:0px;font-family:'Open Sans',sans-serif;}



#mobile-app, #login, #orders, #faq, #stores{background:#ecedf2}


/*=====HEADER======*/

.header{font-family:'Open Sans Semibold',sans-serif;}
header .navbar .navbar-right md-button{margin:0px} 
header .navbar{margin-bottom:0px;}
 
.navbar-right .dropdown ul.dropdown-menu{border-radius:0px;}
.navbar-right .dropdown ul li a{color:#000;padding:8px 20px;font-size:13px;font-family:'Open Sans Semibold',sans-serif;} 
.navbar-right .dropdown ul li:hover a, .navbar-right .dropdown ul li:hover a i{color:#c33332;background:transparent;}
.navbar-right .dropdown ul li a i {color:#ccc;padding-right:10px;width:30px}



/*=====FOOTER======*/
footer{background:#282c35} 
footer .foot-title{color:#fff;opacity:0.6}
footer .form-group{width:40%}
footer .form-group .form-control{width:100%;height:40px;}
footer md-button.bg-color{height:40px;padding:0 25px;line-height:40px;margin:1px 12px 0;} 
footer .widget ul{list-style-type:none;}
footer .widget ul li a {color:#fff; font-size:15px;line-height:24px;text-decoration:none}
footer .widget ul li{color:#fff;opacity:0.6;font-size:15px;line-height:24px;}
footer p{color:#fff;opacity:0.6;letter-spacing:0.4px}
footer p a{color:#c33332;font-family:'Open Sans semibold',sans-serif;}
@media(max-width:767px){
footer .form-group{display:inline-block;width:65%;}
footer md-button.bg-color{margin-top:-4px!important}
}




section#main-banner, section#banner{padding:0px;}

/*=======BANNER======*/
#banner{    min-height: 250px; background-size: cover;}
#banner .profile-data h2, #banner .profile-data h4{color:#fff}
#banner md-list-item .md-avatar{border-radius:0px;height:60px;width:60px;margin-top:25px;}

 
/*=====MAIN iNDEX BANNER======*/ 
#main-banner{background-size:cover!important;padding:50px 0!important;}
#main-banner .delivery{background:#c33332;padding:8px 15px 0;height:auto;width:120px;}
#main-banner .catering{background-color:rgba(234,237,243,0.6);padding:8px 15px 0;height:auto;width:120px;}
#main-banner .delivery img, #main-banner .catering img{padding-left:13px;}
#main-banner p{color:#fff;font-size:12px;padding-top:10px;}
#main-banner .food-type{display:inline-flex;padding:20px 0}
#main-banner .form-inline{padding:20px 0;}



/*=====INDEX DESIGN======*/ 
#works .works-content{padding:30px 0;}
#works .works-content h4{font-family:'Open Sans Semibold',sans-serif;}
#works .works-content img{ border-radius: 50%;   border: 2px solid #c52d2f; padding: 20px;}

 
#mobile-app{padding-bottom:0px;}
@media(min-width:992px){ #mobile-app .right{padding-top:60px;}}
@media(min-width:768px) and (max-width:991px){ #mobile-app .right{padding-top:20px;}}
@media(max-width:767px){ #mobile-app .right{padding-top:50px;padding-bottom:50px;text-align:center!important}}




/*=====LOGIN DESIGN======*/ 
#login .panel{padding:20px 0px;} 
@media(min-width:768px){
   #login .panel .left{border-right:1px solid #d6d6d7;padding:5px 50px;}
   #login .panel .right{padding-top:40px;}
}
@media(max-width:767px){
   #login .panel .left{border-bottom:1px solid #d6d6d7;padding:5px 50px 15px;}
   #login .panel .right{padding-top:10px;}
}

#login p a{color:#c33332;font-family:'Open Sans Semibold',sans-serif;}
#login md-button{padding:3px 40px}
#login .form-control{border:1px solid #d6d6d7;height:40px;border-radius:3px;}




#orders .panel.left table>tbody>tr>td, #orders .panel.left table>tr>td{text-align:left;border:0px;font-family:'Open Sans Semibold',sans-serif;} 
#orders .panel.left table>tbody>tr>td i ,#orders .panel.left table>tr>td i{color:#ccc;}
#orders .panel.left table>tbody>tr>td a{color:#000;text-decoration:none;}
#orders .panel.left table>tbody>tr.active>td a, #orders .panel.left table>tbody>tr.active>td i{color:#c33332; }
#orders .panel.left table>tbody>tr.active>td{background:transparent}




#account .md-button{padding:5px 30px;}




#stores .table{margin-bottom:0px;}
#stores .panel-left ul{list-style:none;padding:0px}

#stores .panel-left ul li span{padding-left:10px;font-family:'Open Sans Semibold',sans-serif;}
#stores md-checkbox .md-icon,md-checkbox .md-container{height:16px;width:16px;}

#stores .panel-right table tr td{border:0px;}
#stores .panel-right table tr td a{color:#000;text-decoration:none;}

#stores .panel-center-list table tr td{color:#d1d1d1;padding:8px 0!important}
#stores .panel-center-list table tr td p{font-family:'Open Sans Semibold',sans-serif;color:#000}
@media(min-width:992px){#stores .panel-center-list .md-button{position: absolute; right: 0;}
 #stores .panel-center-list img{height:100%;width:100%}
 #stores .panel-center-list table tr td.text-left p{padding-left:10px}
  #stores .panel-center-list table tr td.text-right p{padding-right:20px}}
@media(max-width:767px){#stores .panel-center-list .md-button{position: absolute;right: 0;}
#stores .panel-center-list table tr td.text-left p{padding-left:10px}
  #stores .panel-center-list table tr td.text-right p{padding-right:20px}}
  
  
  
  
  
  
  
  #view-product .panel{border:0px;}
  #view-product .panel-collapse{padding:5px 10px 0;}