body{
	background:#F4F5F8;
}
a{text-decoration:none;}
.header{ font-family:'Open Sans',sans-serif; font-size:29px;}
.header span{ font-size:24px;} 

.card::-webkit-scrollbar {
    -webkit-appearance: none;
}

.card::-webkit-scrollbar:vertical {
    width: 5px;
}

.card::-webkit-scrollbar:horizontal {
    height: 11px;
}

.card::-webkit-scrollbar-thumb {
    border-radius: 3x;
    /*border: 2px solid white; /* should match background, can't be transparent */
    background-color: #ddd;
}

.btn{
	font-family:'Open Sans',sans-serif;
}

.card, .panel, #orders{
background:#ffffff;
border:1px solid #bdb7b7;
box-shadow:1px 3px 0 0 rgba(0,0,0,0.12);
border-radius:7.2px;  
margin:15px 0;
padding:8px 25px 8px;  
}

.panel-action{
	padding:0px;
}
.panel-action .panel-header{
	background:#2e9f1c;
	padding:8px 18px 8px;
	color:#fff;
	border-radius:5px;
}
.panel-action .panel-header h3{
	 margin-top:5px;
	 font-family:'Open Sans',sans-serif;
	 font-size:20px;
	 margin-bottom:6px;
}


.card .item-image img, .card .user-image img{
	height:40px;
	width:40px;
}
.card .item-title{
font-family:'Open Sans Semibold',sans-serif;
font-size:12.8px;
color:#3f3f41;
}
.card .item-desc{
font-family:'Open Sans',sans-serif!important;
font-size:12.8px!important;
color:#3f3f41!important;
line-height:18px;
}
.card .item-units, .card .item-total{
font-family:'Open Sans',sans-serif;
font-size:16px;
color:#000000;
}
.card .block-title {
font-family:'Open Sans Semibold',sans-serif;
font-size:20px;
color:#000000;
letter-spacing:0; 
margin-bottom:12px;
}
 .card .order-title{
font-family:'Open Sans Semibold',sans-serif;
font-size:15px;
color:#000000; 
margin-bottom:4px;
}
.card .order-desc{
opacity:0.55;
font-family:'Open Sans',sans-serif;
font-size:15.28px;
color:#000000;
}
.card p,  pre  { 
font-family:'Open Sans',sans-serif!important;
margin:0px!important; 
font-size:15.28px!important;
color:#373738!important;  
line-height:22px!important;
}
.card .name{
font-family:'Open Sans Semibold',sans-serif;
font-size:15.28px;
letter-spacing:0;
}
.card .name a{
color:#0279c5;
text-decoration:none;
}

.user-desc{font-size:13px!important;}
pre {
	background:transparent!important;
	border:0px!important;
	margin:0px!important;padding:0px!important; 
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.card .ordersummary{
	border-bottom:1px solid #ddd;
	padding-bottom:10px;
}
.card .ordersummary:last-child{
	border:0px;
}
hr{
	margin:10px 0;
}
.card .table.items-detail>tbody>tr>td{
	border-bottom:1px solid #ddd;
	font-family:'Open Sans',sans-serif;
	border-top:0px ;
	font-size:14px;
}
 
.card .table.paymentSummary>tbody>tr>td{
font-family:'Open Sans',sans-serif;
font-size:16.8px;
color:#373738;
letter-spacing:0;
border:0px;
padding:5px;
}
.card .table>tbody>tr.total{
margin-top:10px;
}
.card .table>tbody>tr.total>td{
border-top:1px solid #ddd!important;
border-bottom:0px;
font-size:16.8px;
color:#373738;
font-family:'Open Sans Semibold',sans-serif;
}
.card .table>tbody>tr.total>td, .card .table.paymentSummary>tbody>tr:nth-last-child(2)>td{
	 padding:9px 2px 12px;
}

.table.items-detail>tbody>tr>td{padding:8px 4px!important;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{padding:8px 0!important;}
.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>th{font-size:14px;}

.action-title{
font-family:'Open Sans Semibold',sans-serif;
font-size:13px;
color:#121212;
margin:3px 0;}
.action-detail{
opacity:0.61;
font-family:'Open Sans',sans-serif;
margin:4px 0;
font-size:15px!important;
color:#121212!important;}

.action-button a{
text-decoration:none;
font-family:'Open Sans',sans-serif;
font-size:13px;
color:#0279c5;
}
.panel-body .table>tbody>tr>td.action-button{
	padding:15px 2px!important; 
}

.card .table.actions>tbody>tr>td{
		border-bottom:1px solid #ddd; 
}


.panel-header.right{
background:green;
}

.panel-header .block-title{
font-family:'Open Sans Semibold',sans-serif;
font-size:18px;
margin:12px 0 8px;
color:#ffffff;
}
.panel-header, .panel-body{
padding:8px 25px 8px; 
}
.action-link a:hover{
	color:#0279c5;text-decoration:none;
}
.action-link a{
font-family:'Open Sans',sans-serif;
text-decoration:none;
font-size:15px;
color:#0279c5;
 
}


.link-btn{padding:5px 0;}

table.actions{
margin:5px 0;
}

.user-info p{font-size:15px;
font-family:'Open Sans',sans-serif;}

.btn-create{background:#2e9f1c;border-radius:0px!important;color:#fff;font-size:15.5px;text-transform:uppercase;padding:10px 15px!important;margin-top:15px;}
.btn-create:hover, .btn-add-new:hover{color:#fff!important;}
/** Dasboard Style **/

.state-color{
	font-size:12px;
	color:#737373;
	padding:1px 10px 2px;
	border-radius:15px;
}

.order-id{
	color:#0279c5;
	font-family:'Open Sans Semibold',sans-serif;
}

pre.order-cust{
	color:#0279c5;
	font-family:'Open Sans',sans-serif;
}
.block-total{
font-family:'Open Sans Semibold',sans-serif;
font-size:22px;
color:#000000;
letter-spacing:0; 
margin:0  0 5px;
}
.block-desc{ 
color:#ccc!important; 
}



/** add item style **/

.submit .btn , .btn-add{
	 padding:8px 25px;  
	border-radius:0px;
	font-size:15px;
}
@media(min-width:766px){
.submit{
	/* padding-top: 120px; */
    position: relative;
	}
}



/** edit item styles **/

.edit-panel{
	background:#ffffff;
border:1px solid #bdb7b7;
border-radius:7.2px;  
margin:15px 0;
padding:2px 25px 12px; 
}

.title{
	font-family:'Open Sans Semibold',sans-serif;
	margin-bottom:20px;
}

label{
	color:#9b9c9f;
	font-family:'Open Sans',sans-serif;
	font-weight:500!important;
	font-size:15px;
}
.nav-tabs{
	border:0px;
	margin-bottom:20px;
	border-bottom:0px !important
}

.nav-tabs li{ 
	padding:0px 30px 0 0;
	margin:0 10px 0 0;
}
.nav-tabs>li>a{
	color:#8a8b8e;
	background:transparent;
	font-family:'Open Sans',sans-serif;
	font-size:15px;
}

.nav-tabs>li:hover>a, .nav-tabs>li:active>a, .nav-tabs>li.active>a, .nav-tabs>li:focus>a{
	color:#000!important;
	font-size:15.6px;
	background-color:transparent!important;
	font-family:'Open Sans Semibold',sans-serif;
	border:0px!important; 
	border-bottom:2px solid #769ab1!important;
}

.tableAdd>tbody>tr>td, .tableAdd>tbody>tr>th, .tableAdd>tfoot>tr>td, .tableAdd>tfoot>tr>th, .tableAdd>thead>tr>td, .tableAdd>thead>tr>th {
	border-top:0px;
	border-bottom:1px solid #ddd;
}

.tableAdd .btn-save{
	background:#769ab1;margin-top: 20px;
	color:#fff;
	border:0px;
	border-radius:3px;
	padding:5px 20px;
}

.tableAdd .btn-delete{
	background:transparent; margin-top: 20px;
	border:0px;  
}

.tableAdd .btn-delete i{
	font-size:24px;
	color:#b4dbae;
	padding:0 10px;
}
.tableAdd .btn-delete:hover i{ 
	color:#769ab1; 
}

.input-group-addon{
	background:transparent;
	color:#c6c6c6;
	font-size:15px;
}

.input-group .form-control{
	/* border-left:0px; */
	box-shadow:inset 0 0 0px  rgba(0,0,0,.075)
}

datepicker{margin-bottom:10px!important;}
.report-title{
	font-family:'Open Sans',sans-serif;
	font-weight:600;
	font-size:19px;
	font-style:italic;
}
.report-title span{
	font-family:'Open Sans SemiBold',sans-serif;
	font-size:16px;
	font-style:normal;
	padding-left:10px;
	color:#3f87b8
}
.report-desc{
	font-family:'Open Sans',sans-serif;
	color:#000;
	font-size:15px;
	line-height:23px;
}
.report-panel{
	padding:15px 25px 8px;
}
.nav-pills.nav-reprt>li>a{
	font-family:'Open Sans',sans-serif!important;
	font-weight:00;
	font-style:italic;
	font-size:18px;
	border-radius:0px;
	margin-bottom:15px;
	}
	
	.nav-pills.nav-reprt>li.revenue>a{ 
	border-left:4px solid #4584eb; 
	color:#4584eb;
	}
	.nav-pills.nav-reprt>li.order>a{ 
	border-left:4px solid #46a3f3; 
	color:#46a3f3;
	}
	.nav-pills.nav-reprt>li.user>a{ 
	border-left:4px solid #92d3ec; 
	color:#92d3ec;
	}
.nav-pills.nav-reprt>li.revenue:active>a, .nav-pills>li.revenue.active>a:hover, .nav-pills>li.revenue:hover>a, .nav-pills>li.revenue.active>a{
	background-color:#f5f5f5!important;
	color:#4584eb!important;
}
.nav-pills.nav-reprt>li.order:active>a, .nav-pills>li.order.active>a:hover, .nav-pills>li.order:hover>a, .nav-pills>li.order.active>a{
	background-color:#f5f5f5!important;
	color:#46a3f3!important;
}
.nav-pills.nav-reprt>li.user:active>a, .nav-pills>li.user.active>a:hover, .nav-pills>li.user:hover>a, .nav-pills>li.user.active>a{
	background-color:#f5f5f5!important;
	color:#92d3ec!important;
}

.nav-pills.nav-reprt>li>a>span{ 
font-size:15px;
font-style:normal;
}
.nav-pills.nav-reprt>li.revenue>a>span{
color:#4584eb; 
}
.nav-pills.nav-reprt>li.order>a>span{
color:#46a3f3; 
}
.nav-pills.nav-reprt>li.user>a>span{
color:#92d3ec; 
}

.tab-content-data{border-top:1px solid #ddd}

.user-profile-data .card{box-shadow:none;padding:7px 20px 7px 0px!important;border-radius:4px;border:1px solid #DADEE2!important;}
.user-profile-data .card .card-data{padding:0px 15px;border-left:6px solid #C9E8C6}
.user-profile-data .card .card-data h4{color:#489F3B;font-size:21px;font-style:italic;font-family:'Open Sans Semibold',sans-serif;margin-bottom:0px; }
.user-profile-data .card  h4 i{color:#A0BDCF;padding-left:10px;}
.user-profile-data .card  h5{font-family:'Open Sans',sans-serif}
.user-profile-data .card .card-data h5{color:#A8A8A8;font-size:15px;margin-top:6px!important;}
.user-profile-data .card img{width:60px;height:60px;padding-right:12px;}
.user-profile-data .card.info{
	display:flex;
	padding:8px 15px 8px!important;border-left:1px solid #DADEE2;
}

.btn-add-new{background:#2e9f1c;border-radius:0px!important;color:#fff;font-size:15.5px;padding:6px 15px!important; float:right;margin-bottom:8px;}



/*=====================settings========================*/
.settings{padding:25px 18px 10px;}
.settings h5{position:absolute;margin-top:-8px; background: #fff; padding: 0 10px 0 0;letter-spacing:0.8px;color:#626262}
 .settings ul{padding:20px 0;border-top:1px solid #f2f2f2;}
 .settings li{padding:5px 30px!important;text-align: -webkit-center;}
 .settings li p:first-child{height:80px;width:80px;border-radius:50px;}
 .settings li p i{color:#fff;font-size:30px;padding-top:32%}
 .gsetting{background:#35617c;}
 .asetting{background:#63adc2;}
 .lsetting{background:#80cfaf;}
 .nsetting{background:#6499bd;}
 
 
 
  /**DASHBOARD NEW STYLE==============================================*/
  #dashboard .header-cols .panel{padding:8px 15px!important;}
  #dashboard .header-cols .products .panel-data ul li h2{color:#4ecfe0}
  #dashboard .header-cols .categories .panel-data ul li h2{color:#6d5cad}
  #dashboard .header-cols .customers .panel-data ul li h2{color:#e33d47}
  #dashboard .header-cols .orders .panel-data ul li h2{color:#12a79d}
   #dashboard .header-cols .drivers .panel-data ul li h2{color:#f79323}
  #dashboard .header-cols .panel-data ul li h2{font-weight:600;font-size:35px}
 #dashboard .header-cols ul{margin:0px}
  #dashboard .header-cols ul li i{padding:8px 0 5px;font-size:21px;color:#555555}
  #dashboard .header-cols ul li h5{ padding-left:0px;color:#000;letter-spacing:0.9;    min-height: 30px;} 
 
 #dashboard h4{color:#73879C!important}
  .progress.progress-sm{width:100%;margin-bottom:10px;margin-top:5px;}
 .progress.progress-sm .progress-bar{height:100%;}
 
 #dashboard .header-cols .products .progress .bg-color{  background-color: #4DD0E1!important; color: #fff;}
 #dashboard .header-cols .categories .progress .bg-color{  background-color: #6d5cad!important; color: #fff;}
 #dashboard .header-cols .customers  .progress .bg-color{  background-color: #e33d47!important; color: #fff;}
 #dashboard .header-cols .orders .progress .bg-color{  background-color: #12a79d!important; color: #fff;}
  #dashboard .header-cols .drivers .progress .bg-color{  background-color:#f79323!important; color: #fff;}
 
 #dashboard table tr td , #dashboard table tr td pre{color:#73879C!important;font-size:14px!important;} 
 #dashboard table tr td{padding:13px 0!important;}
 #dashboard table tr th{color:rgba(36,45,48,.35)}
 @media(min-width:1700px){
 #dashboard .panel.transactions, #dashboard .panel.rOrders{height:410px; } 
 }
  @media(min-width:1500px) and (max-width:1699px){
 #dashboard .panel.transactions, #dashboard .panel.rOrders{height:400px; } 
 }
  @media(min-width:1200px) and (max-width:1499px){
 #dashboard .panel.transactions, #dashboard .panel.rOrders{height:405px; } 
 }
 #dashboard .panel.rOrders, #dashboard .panel.top-users, #dashboard .panel.rUsers, #dashboard .panel.schedule{overflow:auto; }
  #dashboard .panel.top-users, #dashboard .panel.order{height:450px; } 
 
 #dashboard .panel.rUsers{height:460px;}
 #dashboard .panel.schedule{height:220px}