body{
	background:#f4f5f9;
}

.table-responsive::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 0px;
	background-color: #F5F5F5;
}

.table-responsive::-webkit-scrollbar
{
	/* width: 8px; */
	height:6px;
	background-color: #F5F5F5;
}

.table-responsive::-webkit-scrollbar-thumb
{
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #ccc;
}

span, p, pre{font-family: 'Open Sans',sans-serif;}


@media screen and (max-width: 767px){
.table-responsive {
	margin-bottom:0px;
}}


#exportthis .table{
	background:#fff;
	border:1px solid #ddd;
	margin-bottom:0px;
}

.table>tbody>tr>td, .table>thead>tr>th, .table>tfoot>tr>td,  .table>tbody>tr>td, .table>thead>tr>th{
	border-top:1px solid #f5f5f5;
	/* text-align:center; */
}
#exportthis tr:nth-child(even) {background: #f5f5f5}

.table>tbody+tbody{
	border:0px;
}

tr>td img{
	width:50px;
	height:55px;
}

tr>td.barcode img{
	width:auto;
	height:auto;
 
}
pre{
	background-color:transparent!important;
	border:0px!important;
	padding:0px!important;
	font-size:14px!important; 
}
.table>thead>tr>th{
	font-family:'Open Sans',sans-serif;
	font-size:13px;
}
.table>tbody>tr>td, .table>tbody>tr>td>pre{
	font-family:'Open Sans',sans-serif;
}
 

.products-table{background:#fff;}
.name{
	color:#333;
 
}
.price
{
	 
	font-family:'Open Sans SemiBold',sans-serif;
}
.created pre{
	color:#c0c0c0;
	font-family:'Open Sans',sans-serif;
}


.status span{ 
	border-radius:50px;
	padding:5px 15px;
}

.header-fliters-data{
	border:1px solid #d2d2d2;
	background:#fff;
	border-radius:5px;
	margin-bottom:8px;
	font-family: 'Open Sans',sans-serif;
}
.header-fliters-data label{color:#c0c0c0;font-family:'Open Sans',sans-serif;padding:2px 2px 0 10px;font-weight:500;margin-bottom:0px;font-size:13px;}
.header-fliters-data select{
	border:0px;
	box-shadow:none;
	padding:0 8px 4px 6px;
	height:auto;
}

.header-fliters-data select:focus, .btn.dropdown-toggle:focus{
	outline:none;
	box-shadow:none;
}
.header-fliters-data .btn.dropdown-toggle {
    background: #fff;
    border: 0px;
    width: 100%;
    text-align: left;
	padding:0px 12px 4px;
}


.pagesize-label{
	color:#c0c0c0;font-family:'Open Sans',sans-serif;font-weight:500;font-size:14px;margin-bottom:0px;
}

input.pagesize{width:auto;height:100%;padding:4px 12px;border-radius:0px}

.dropdown-menu{width:100%;right:0;left:auto;}
	
.column-settings{display:inline-block;}
.column-settings .btn{background:transparent;padding:6px 0px;vertical-align:baseline;}
.column-settings .dropdown-menu{ padding:8px;}
.column-settings .dropdown-menu li{font-size:14px;font-family:'Open Sans',sans-serif}
.column-settings .dropdown-menu li input{
	background:#fff;
}

.header-fliters-data .btn.dropdown-toggle .caret {
    float: right;
    /* margin-right: 5px; */
    margin-top: 8px;
}
.actions a{
color:#0c7dc1;
font-size:16.5px;
}
 
.input-group .input-group-addon{
	background:#fff;
}
.input-group input{
	position:unset!important;
    border-right: 0px;
	box-shadow:none;
	/* height:40px; */
}

.input-group .input-group-addon span{color: #d2d2d2}

.top-actions i{
	color:#c1c1c1;
	padding:11px 7px;
	font-size:18px;
}

@media(min-width:766px) and (max-width:1200px){.nav-tabs li{min-width:20%}}
@media(min-width:1201px){.nav-tabs li{min-width:15%}}
.nav-tabs li{margin-top:8px;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{border-bottom:2px solid #0074C1!important;background:transparent;border:0px;}
.nav-tabs li.active a, .nav-tabs li.active:hover a, .nav-tabs li:active a, .nav-tabs li:hover a, .nav-tabs li:focus a{border-bottom:2px solid #0074C1!important;background:transparent!important; }
.nav-tabs li a{padding:0px 10px!important;margin-right:0px;border-bottom:2px solid transparent!important;border:0px solid transparent!important;}
.nav-tabs li a h3{margin:10px 0 5px;font-size:21px;font-family:'Open Sans',sans-serif;}
.nav-tabs li a h3, .nav-tabs li a p{color:#fff;font-family:'Open Sans',sans-serif;}

.dropdown.add{margin-top:20px;}

.order-search.input-group{margin-top:10px;}
.order-search.input-group input{height:auto!important;padding:6px 0 6px 6px;}