body{
	background:#f4f5f9;
	 
}
 

.table-responsive::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 0px;
	background-color: #F5F5F5;
}

.table-responsive::-webkit-scrollbar
{
	/* width: 8px; */
	height:6px;
	background-color: #F5F5F5;
}

.table-responsive::-webkit-scrollbar-thumb
{
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #ccc;
}

span, p, pre{font-family: 'Open Sans',sans-serif;}
@media screen and (max-width: 767px){
.table-responsive {
	margin-bottom:0px;
}}
.table{
	background:#fff; 
	margin-bottom:0px;
}

.table>tbody>tr:first-child>td, .table>thead>tr:first-child>th, .table>tfoot>tr:first-child>td,  .table>tbody>tr:first-child>td, .table>thead>tr:first-child>th{
	border-top:0px;
	width:200px;
}
.table>tbody>tr>td, .table>thead>tr>th, .table>tfoot>tr>td,  .table>tbody>tr>td, .table>thead>tr>th{
	border-top:1px solid #f5f5f5;
	font-family:'Open Sans',sans-serif;
	text-align:center;
}
tr>td img{
	width:50px;
	height:55px;
}
.input-group .input-group-addon{
	background:#fff;
}
.input-group input{
    border-right: 0px;
	box-shadow:none;
	height:40px;
}

.input-group .input-group-addon span{color: #d2d2d2}


.panel{
	margin-bottom:20px!important;
	background:#fff; 
    padding: 8px 0px;
}
.panel-title{
font-family:'Open Sans SemiBold',sans-serif;
font-size:19px;
margin-bottom:8px;
}
.panel-title i{float:right;}

td i{
	background:#2c9d1a;
	height:25px;
	text-align:center;
	width:25px;
	padding:6px;
	border-radius:50%;
	color:#fff;
}


.btn-addCart{
	background:transparent;border:0px;
}
.panel{border-radius:0px;border:1px solid #e2e2e2!important;}
.panel-right {
	background:#2c9d1a!important;
	font-family:'Open Sans',sans-serif;
	font-size:21px;
	padding:0px 8px;
	color:#fff
}
.btn{font-family:'Open Sans',sans-serif;}
.btn-apply{
	padding:0px!important;background:transparent;
}
buuton:focus{
outline:none;
-webkit-tap-highlight-color: transparent;
}
 
 .panel h5{
	 font-family:'Open Sans SemiBold',sans-serif;
	 font-size:16px;
 }
 
 .panel-body{
	padding: 8px 12px;
 }
 
 /* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar-body{
	background:#fff;
	padding:10px 0px;
	border:1px solid #e2e2e2;
	border-radius:5px;
}

.sidebar-body ul{
	list-style-type:none;
	padding-left:0px;
}

.sidebar-body ul li a{
	color:#464646;
	font-family:'Open Sans',sans-serif;
	font-size:16px;
	line-height:28px;
	text-decoration:none;
	border-left:3px solid transparent;
	padding-bottom:5px;
	 
}
.sidebar-body ul li a span{
	padding-left:8px;
}
.sidebar-body ul li ul{
	 padding-left:10px;
}

.sidebar-body ul li a.active, .sidebar-body ul li a:active, .sidebar-body ul li a:hover, .sidebar-body ul li a:focus{
	border-left:3px solid #2e9f1c
	}
	
.sidebar-title{
	padding:0px 8px 3px;
	font-family:'Open Sans SemiBold',sans-serif;
}


.table.cart_table>tbody>tr>td, .table.cart_table>thead>tr>th, .table.cart_table>tfoot>tr>td, .table.cart_table>tbody>tr>td, .table.cart_table>thead>tr>th{text-align:left;font-size:15px!important;line-height:24px!important;width:auto;}
.table.cart_table button{background:#f5f5f5;border:0px;box-shadow:none;}
 
 .cart_table button{background:#f5f5f5;border:0px;box-shadow:none;}
 .cart_table p, .cart_table h4 span{font-family:'Open Sans',sans-serif;
	font-size:16px;}
	 .cart_table h4 {font-family:'Open Sans',sans-serif;
	font-size:17px;line-height:26px;}
.cart_table i{
	background:#2c9d1a;
	height:22px;
	text-align:center;
	width:22px;
	padding:6px;
	border-radius:50%;
	color:#fff;
}

.product-view h4.panel-title{margin-bottom:12px;font-size:18px}
.product-view h4.panel-title span{font-style:italic;}
.product-tb .item-image{text-align:left;padding-left:20px;} 


.btn-timeslots{border-radius:0px;padding:6px 15px;margin:5px;}

.btn-select-address{background:#309c20;border:1px solid #309c20!important;border-radius:0px!important;padding:8px 30px!important;margin-top:40px!important;color:#fff;font:16px!important;}
.btn-select-address:hover{color:#fff!important;background:#309c20}


.addresses-row:nth-child(odd){background:#f5f5f5;}

.addresses-row{padding:15px 5px 10px;}

.nav.picker-tabs li a{color:#000;border-bottom:2px solid transparent;border:0px;padding:10px!important;}
/* .nav.picker-tabs li:hover a, .nav.picker-tabs li:active a, .nav.picker-tabs li:focus a, .nav.picker-tabs li.active a, .nav.picker-tabs li.active:hover a{background:transparent!important;border-bottom:2px solid #309c20!important;border:0px solid transparent;} */