.reports-panel.panel{
	border:1px solid #f5f5f5;
}
.reports-panel .panel-header{
	padding:5px 10px;
}
.reports-panel .panel-header i{
	text-align:right;
	padding:5px ;
	font-size:18px;
	color:#b2b2b2;
}
.reports-panel .panel-footer{
	background:transparent;
	border:0px;
}
.reports-panel .edit{
	background:transparent;
	color:#707070;
	border:0px;
	font-size:16px; 
}
.reports-panel .edit:hover, .reports-panel .edit:focus{text-decoration:underline;
background:transparent;
	color:#303030;
}

.reports-panel .edit:focus{
	outline:0;
}
.reports-panel .title, .reports-panel .subtitle, .reports-panel .date, p{font-family:'Open Sans',sans-serif;}
.reports-panel .title{ 
	margin-bottom:20px;
}
.reports-panel .subtitle{ 
	font-weight:600
}
.reports-panel .date{ 
	font-size:16px;
}
.reports-panel .table{
	margin: 30px 0;
}
.reports-panel .table th{
	font-family:'Open Sans',sans-serif;
	padding:8px;
	font-weight:600;
	border-right:1px dotted #ddd;
	font-size:14px;
	text-transform:uppercase;
}
.reports-panel .table th:last-child{
	border-right:0px solid #ddd;
}

.reports-panel .table tr td{
	font-family:'Open Sans',sans-serif;
	    border-top: 1px solid #ddd;
		text-align:left;
		font-size:14px;
}

 .reports-panel .table>tbody+tbody {
    border-top: 2px solid #ddd;
}
 .reports-panel #exportthis tr:nth-child(even){background:#fff;}
 
 .nav-tabs.report-tabs{margin-bottom:0px;}
 .nav-tabs.report-tabs>li>a {    padding: 10px 15px;margin-right:2px;}
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 /**---------------------Roles and permission style here------------------------------------**/
 
 .roles .tab-content .panel{padding:0 10px}
 .roles label{font-family:'Open Sans',sans-serif;font-size:15px;}
 .btn-role{border-radius:0px!important; background:#309f25;padding:8px 25px!important;color:#fff;}
  .btn-role:hover{color:#fff!important;}
  
  .nav-roles>li>a{background:transparent!important;color:#000!important;border-bottom:2px solid transparent!important;border:0px!important;font-size:16px;font-family:'Open Sans',sans-serif;}
    .nav-roles>li.active>a, .nav-roles>li.active:hover>a, .nav-roles>li:hover>a, .nav-roles>li:active>a, .nav-roles>li.focus>a{background:transparent;color:#000;border-bottom:2px solid #309f25!important;border-top:0px!important;border-left:0px!important;border-right:0px!important;}